In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("."))

['1.ipynb', 'data.csv']

In [2]:
data = pd.read_csv('data.csv')
data.head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   object
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 236.4+ KB

# Предобработка датасета

In [5]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
def get_date_for_type(date, type='year'):
    split_date = str(date).split('/')
    if type == 'year':
        return split_date[2]
    elif type == 'month':
        return split_date[0]
    else:
        return split_date[1]

data['balance'] = data['revenue'] - data['budget']
data['release_month'] = data['release_date'].apply(get_date_for_type, type = 'month')

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [6]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
data[data['budget'] == data['budget'].max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,balance,release_month
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431,12

In [7]:
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [8]:
data[data['runtime'] == data['runtime'].max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,balance,release_month
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003,-43076064,2

In [9]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [10]:
data[data['runtime'] == data['runtime'].min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,balance,release_month
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011,-15540000,4

In [11]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [12]:
data['runtime'].mean()

109.65343915343915

In [13]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [14]:
data['runtime'].median()

106.5

In [15]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [16]:
data[data['balance'] == data['balance'].max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,balance,release_month
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847,12

In [17]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [18]:

data[data['balance'] == data['balance'].min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,balance,release_month
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431,12

In [19]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [20]:
data[data['balance'] > 0]['balance'].count()

1478

In [21]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [22]:
data_in_2008 = data[data['release_year'] == '2008']
data_in_2008[data_in_2008['balance'] ==data_in_2008['balance'].max()]

Empty DataFrame
Columns: [imdb_id, popularity, budget, revenue, original_title, cast, director, tagline, overview, runtime, genres, production_companies, release_date, vote_count, vote_average, release_year, balance, release_month]
Index: []

In [23]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [24]:
temp = data.query('release_year  in ["2012", "2013", "2014"] ')
temp[temp['balance'] == temp['balance'].min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,balance,release_month
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090,7

In [25]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [26]:
genres = []
def unic_genres(string):
    arr = string.split('|')
    for i in arr:
        if i not in genres:
            genres.append(i)
data['genres'].apply(unic_genres)
genres_max = ''
temp_count = 0
for i in genres:
    temp = data[data['genres'].str.contains(i) != False]['genres'].count()
    if temp > temp_count:
        temp_count = temp
        genres_max = i
    elif temp == temp_count:
        genres_max = genres_max + i #проверка на одинаковое кол-во фильмов
        temp_count = temp
print(genres_max, temp_count)

Drama 782

In [27]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [28]:
genres = []
def unic_genres(string):
    arr = string.split('|')
    for i in arr:
        if i not in genres:
            genres.append(i)
data['genres'].apply(unic_genres)
genres_max = ''
temp_count = 0
for i in genres:
    temp = data[(data['genres'].str.contains(i) != False) & (data['balance'] > 0)]['genres'].count()
    if temp > temp_count:
        temp_count = temp
        genres_max = i
    elif temp == temp_count:
        genres_max = genres_max + i 
        temp_count = temp
print(genres_max, temp_count)

Drama 560

In [29]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [30]:
director = []
def unic_genres(string):
    arr = string.split('|')
    for i in arr:
        if i not in director:
            director.append(i)
data['director'].apply(unic_genres)
temp_count = 0
for i in director:
    temp = data[data['director'].str.contains(i) != False]['director'].count()
    if temp > temp_count:
        temp_count = temp
        genres_max = i
    elif temp == temp_count:
        genres_max = genres_max + i 
        temp_count = temp
print(genres_max, temp_count)

McGSteven Soderbergh 13

In [31]:
answer_ls.append(1)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [32]:
director = []
def unic_genres(string):
    arr = string.split('|')
    for i in arr:
        if i not in director:
            director.append(i)
data['director'].apply(unic_genres)
temp_count = 0
for i in director:
    temp = data[(data['director'].str.contains(i) != False) & (data['balance'] > 0)]['director'].count()
    if temp > temp_count:
        temp_count = temp
        genres_max = i
    elif temp == temp_count:
        genres_max = genres_max + i 
        temp_count = temp
print(genres_max, temp_count)

Ridley Scott 12

In [33]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [34]:
director = []
def unic_genres(string):
    arr = string.split('|')
    for i in arr:
        if i not in director:
            director.append(i)
data['director'].apply(unic_genres)
temp_count = 0
for i in director:
    temp = data[(data['director'].str.contains(i) != False) & (data['balance'] > 0)]['balance'].sum()
    if temp > temp_count:
        temp_count = temp
        genres_max = i
    elif temp == temp_count:
        genres_max = genres_max + i 
        temp_count = temp
print(genres_max, temp_count)

Peter Jackson 5202593685

In [35]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [36]:
actor = []
def unic_genres(string):
    arr = string.split('|')
    for i in arr:
        if i not in actor:
            actor.append(i)
data['cast'].apply(unic_genres)
temp_count = 0
genres_max = ''
arr =[]
for i in actor:
    temp = data[(data['cast'].str.contains(i) != False)]['balance'].sum()
   
    arr.append([i, temp])
    if temp > temp_count:
        temp_count = temp
        genres_max = i
    elif temp == temp_count:
        genres_max = genres_max + i 
        temp_count = temp
print(genres_max, temp_count)

Emma Watson 6666245597

In [37]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [38]:
actor = []
def unic_genres(string):
    arr = string.split('|')
    for i in arr:
        if i not in actor:
            actor.append(i)
data['cast'].apply(unic_genres)
temp_count = 0
genres_max = ''
for i in actor:
    temp = data[(data['cast'].str.contains(i) != False) &(data['release_year'] == '2012')]['balance'].sum()
    if temp < temp_count:
        temp_count = temp
        genres_max = i
    elif temp == temp_count:
        genres_max = genres_max + i 
        temp_count = temp
print(genres_max, temp_count)

linBetty BuckleyAlexander SiddigDavid O'HaraDakota Blue RichardsAugustus PrewNatascha McElhoneTeddy GeigerMatthew BroderickTracey UllmanDrake BellSara PaxtonLeslie NielsenJennifer HudsonSophie OkonedoAlicia KeysPiper PeraboPaul RodrÃ­guezDax ShepardHayley AtwellRinko KikuchiGabrielle UnionJennifer CarpenterJohnathon SchaechRob BrownDarrin HensonCharles S. DuttonAunjanue EllisCheryl HinesPatrick WarburtonRon GlassVanessa LacheyNicole Ari ParkerCrista FlanaganGary 'G. Thang' JohnsonDiora BairdVinnie JonesRoger BartThomas JaneDevon AokiSean PertweeBenno FÃ¼rmannMadeline CarrollAshton HolmesJodie FosterMichael CarmanMark BradyMyleene KlassRobin WalshMatt McKennaKelan PannellJanette ScottJames Earl JonesMargaret AveryHugo WeavingKevin McNallyKarin KonovalMini AndenTony GoldwynRussell PetersMichael ArdenGoran VisnjicAndrew HowardGriffin GluckDakota GoyoPatricia ClarksonNolan GouldLucy PunchJared HarrisLarry the Cable GuyGreta GerwigOlivia ThirlbyNick FrostJoel CourtneyRiley GriffithsRyan LeeJena MaloneShiloh FernandezHunter McCrackenFinnegan WilliamsDianna AgronCallan McAuliffeWill.i.amJean DujardinBÃ©rÃ©nice BejoPenelope Ann MillerJeremy IrvineMircea MonroeSacha Baron CohenViolante PlacidoFergus RiordanJohnny WhitworthRomola GaraiHeida ReedDominic PurcellColin O'DonoghueToby JonesJim CummingsTravis OatesBud LuckeyMatthew MacfadyenLily CollinsMaggie QPatton OswaltElizabeth ReaserCollette WolfeJanuary JonesAidan QuinnBruno GanzLauren HodgesCallum BlueMichael VartanLennie JamesWill RothhaarCory HardrictJim ParrackEmma BellNicholas D'AgostoMiles FisherEllen WroeJacqueline MacInnes WoodJustin Michael BrandtRichard GoteriPeter CareyEugenio DerbezTim MeadowsChristopher LeeFernanda DorogiColin FordMaggie Elizabeth JonesRachael TaylorDallas RobertsMinka KellyAmy SedarisJay ChouEdward FurlongColin EgglesfieldAshley WilliamsJason MomoaRose McGowanRachel NicholsRowan AtkinsonRoger BarclayMary-Kate OlsenLisa Gay HamiltonLea MicheleRyan RobbinsWarren ChristieLloyd OwenAndrew AirlieMichael KopsaDavid TennantPinkE.G. DailyJohnny A. SanchezDavid ArquetteNeve CampbellDan FoglerElisabeth HarnoisJodie WhittakerJohn BoyegaLuke TreadawayDevon BostickThomas HornJenny SlateAndy BuckleyLaz AlonsoVicky KriepsTom HollanderAmara MillerNick KrauseRobert ForsterMichael RispoliKatarina CasKenny WormaldAndie MacDowellJordana SpiroElvis PolanskiKatie FeatherstonSprague GraydenLauren BittnerChristopher Nicholas SmithChloe CsengeryGeraldine JamesMax RecordsJ.B. SmooveAlice ParkinsonDaniel WyllieAllison CratchleySarah ShahiBusy PhilippsHelen HuntLorraine NicholsonCarrie UnderwoodAziz AnsariBianca KajlichGlenn CloseTatum EtheridgeAimee TeegardenThomas McDonellNicholas BraunFaith FordDanielle CampbellGina GershonPortia DoubledayMari MorrowFaizon LoveAndy LauNicholas TseFan BingbingWu JingCory MonteithAnthony Stewart HeadSusan BrownLudivine SagnierRaad RawiMehmet FerdaPhilip QuastChris CarmackChris ZylkaDustin MilliganTaylor SchillingPaul JohanssonMichael O'KeefeGrant BowlerJudd HirschEve HewsonKerry CondonPauline CollinsJustin BieberUsher RaymondSean KingstonRae Dawn ChongRichard HarrisRay RomanoDenis LearyBrian CoxEric MabiusRyan McCluskeyOscar PearceCliff RobertsonIan McDiarmidChristopher WalkenRip TornLara Flynn BoyleJohnny KnoxvilleFrank FinlayMaureen LipmanEmilia FoxSamantha MortonLois SmithChris SandersDaveigh ChaseTia CarrereKevin McDonaldShu QiMatt SchulzeAsia ArgentoMichael RoofRoscoe Lee BrowneMartin ShortToby StephensNoah HuntleyChristopher DunneEmma HitchingNatasha RichardsonTyler PoseyDaniel Day-LewisGeena DavisJonathan LipnickiAnna HoelckTara ReidTim MathesonSimon HelbergEminemMekhi PhiferAllen CovertPeter GallagherAlicia WittDana IveyRobert KleinRory CulkinCherry JonesMartin HendersonDavid DorfmanShannon CochranShane WestPeter CoyoteDaryl HannahLauren GermanJohn CorbettMichael ConstantineAndrea MartinSharon SmallFrancesca NeriJonathan FrakesLeVar BurtonBrent SpinerGates McFaddenAngus MacfadyenDeborah RushTyler HoechlinLiam AikenPaul NewmanMichael YorkMindy SterlingElizabeth MitchellDavid KrumholtzEric LloydMaura TierneyMartin DonovanGabriel ByrneJulianna MarguliesDesmond HarringtonRon EldardSarah Michelle GellarDaniel StudiChopper BernetJeff LeBeauKelly HuSteven BrandBernard HillKeith DallasMadeleine StoweBam MargeraSteve-OChris PontiusDave EnglandMÃ­a MaestroPatricia Reyes SpÃ­ndolaBen ChaplinMichael PittAgnes BrucknerCandice BergenEveMichael MicheleSamantha MumbaPhyllida LawLaura KirkMark AddyJon SedaNoah EmmerichAnne HecheKimberly EliseDaniel E. SmithOlivier MartinezErik Per SullivanZeljko IvanekKim StauntonSydney PollackJoss AcklandJohn ShrapnelStuart TownsendAaliyahMarguerite MoreauVincent PÃ©rezPaul McGannBilly CampbellTessa AllenDan FuttermanJohn WitherspoonDon CurryHarriet OwenBlayne WeaverJeff BennettKath SoucieDevon SawaLaura PreponCatherine Zeta-JonesChristine BaranskiConnie NielsenErin DanielsEriq La SalleRebecca RomijnRie RasmussenGregg HenryEliza DushkuGeorge DzundzaIzabella ScorupcoZaid FaridWilliam ShatnerMarcel IureÈ™Cole HauserJune SquibbSanoe LakeWanda De JesusTina LiffordJeremy DaviesUlrich TukurLaura LinneyBob TraceyDebra MessingDennis HaysbertRachel GriffithsBeth GrantAngus T. JonesRutger HauerCourtney LoveJesse BradfordPaula GarcÃ©sRobin ThomasFrench StewartMichael BiehnBrad LoreeBusta RhymesKatee SackhoffFrankie MunizDerek LukeMalcolm David KelleyCory HodgesVivica A. FoxMaurice GodinBritney SpearsTaryn ManningAnson MountRandy QuaidJoe PantolianoJay MohrHarvey KeitelElizabeth HurleyVincent PastoreBruce CampbellJoe MortonRon RifkinSusanna ThompsonNick CannonLeonard RobertsGQTommy FlanaganCarmen ChaplinStephen DorffUdo KierAmelia CurtisRita WilsonRon LeibmanEddie GriffinDenise RichardsChi McBrideIndia EisleyJacki WeaverKelly MacdonaldSam ClaflinAyush TandonGautam BelurAdil HussainChris WedgeWerner HerzogTom HollandSamuel JoslinOaklee PendergastSarah SilvermanJack McBrayerJamie ElmanAnna CampLuke GrimesJonny Lee MillerEzra MillerAlyson HanniganCody HornKristen ConnollyAnna HutchisonFran KranzJesse WilliamsChris SarandonJames HongCatherine ChanRobert John BurkeJames KidnieHeidi HawkinsDanny DeVitoJared GilmanKara HaywardWood HarrisBrooklyn DeckerTadanobu AsanoNathan LanePaul DanoNoah SeganGina CaranoKathryn McCormickMegan BooneJessica GuadixAlex RussellMichael KellyAnna WoodNestor SerranoGonzalo MenendezAlexander AsefaSayed BadreyaOliver CooperJonathan Daniel BrownThomas MannDax FlameKirby Bliss BlantonDiego BonetaSami GayleBrian BlessedJesse PlemonsMaude ApatowJoseph GilgunLauren AmbroseSidney JohnstonAlisa KhazanovaMary StockleyCharlie TahanEva Amurri MartinoMark DuplassMatt BushKatrina BowdenJean-Luc BilodeauNatasha CalisMadison DavenportKyra SedgwickRob LaBelleAdelaide ClemensVerÃ³nica EcheguiBrit MarlingMonica RaymundAdrianne PalickiSean HayesWill SassoChris DiamantopoulosMarin IrelandJean RenoDebbie ReynoldsSherri ShepherdPatrick FischlerTom CourtenayTucker AlbrizziLucas BlackPeyton ListEva LongoriaPeter O'TooleRubÃ©n BladesDaniela RuahVictoria JusticeJackson NicollChelsea HandlerJosh PenceJane LevyDania RamirezWolÃ© ParksJeremy IronsKathryn NewtonMatt ShivelyBrady AllenTom Everett ScottJulianna GuillLuke PasqualinoAryana EngineerWhitney HoustonCee Lo GreenKaty PerryShannon WoodwardRachael MarkarianMia MorettiJack DavenportDavid CarradineMary AliceHelmut BakaitisEllen DeGeneresAlexander GouldBrad GarrettPhilip Baker HallCatherine BellLisa Ann WalterGregor FisherDaniel TayNick StahlKristanna LokenAlbert FinneySean ConneryPeta WilsonFausto CallegariniPhil CollinsConnor FunkTony CoxBrett KellyBernie MacNatalie ImbrugliaTasha de VasconcelosBen MillerRichard BriersPamela AndersonJenny McCarthyMarny EngCharlie SheenSimon RexRomeo MillerDavid MoscowLarenz TateGeno SilvaJacqueline ObradorsMike WhiteAdam PascalWilliam AthertonChad LindbergKevin ZegersBilly BoydJoseph MorganMarcia Gay HardenKevin ChapmanEllen PompeoLeah ReminiAnnie ParisseAdam GoldbergFann WongLL Cool JJosh CharlesEamonn WalkerJohnny MessnerSally FieldRegina KingJennifer CoolidgeJames NewmanMark HarmonHarold GouldHaley HudsonNathaniel ParkerMarsha ThomasonJennifer TillyCarly NahonA.J. CookMichael LandesTony ToddKeegan Connor TracyJonathan TuckerErica LeerhsenBonnie HuntTom WellingHilary DuffRobert EnglundKen KirzingerJason RitterMonica KeenaLochlyn MunroTom ArnoldJenna ElfmanHeather LocklearTim DalyMichael JeterChristian KaneAlex ThomasDavid McCulloughJohn BillingsleyRay WiseGarikayi MutambirwaEric NenningerJosh HammondAdam LambergHallie ToddRobert CarradineDamian LewisRachel DratchPeter WellerLeslie StefansonJohn FinnLee TergesenAnnie CorleyJoan PlowrightLenny VenitoKevin ConwayC. Thomas HowellMimi RogersJesse SpencerGabriel MannJonathan CherryTyron LeitsoClint HowardOna GrauerMichael EklundSid HaigBill MoseleyKaren BlackJames BrolinS. Epatha MerkersonDebra WingerPeter MullanJack McElhoneJean-Marie LamourMarc FayolleBob BalabanChristopher GuestJohn AldertonLinda BassettAnnette CrosbieAngie HarmonCynthia StevensonJohn BroadwaterJames CameronMike CameronKen MarschallWen Yann ShihSeymour CasselDylan McDermottSophie MarceauPaul WilsonKelly ClarksonJustin Guarini Brandon HenschelGreg SiffBrian DietzenBlythe DannerIdina MenzelJonathan GroffSantino FontanaOrto IgnatiussenPhaldut SharmaRob ReinerBurn GormanMiranda CosgroveLupita Nyong'oLili TaylorJoey KingYuliya SnigirJoel MurrayAbigail HargroveShirley MacLaineDaniel BrÃ¼hlAlexandra Maria LaraNatalie DormerLeven RambinAnaleigh TiptonPihla ViitalaHiroyuki SanadaKou ShibasakiMin TanakaJemima WestRobert SheehanYousuf AzamiCarlos AlazraquiJulia Louis-DreyfusAshley BensonRachel KorineMichael ImperioliElla Rae PeckLou Taylor PucciElizabeth BlackmoreJohn D'LeoCloris LeachmanIzabela VidovicMax MartiniChris MulkeyYul VazquezAdam LevineEleanor TomlinsonDavid CostabileRafe SpallMegan ParkCobie SmuldersGeorgina CatesSpike JonzeZoÃ« KravitzGlenn MorshowerTaran KillamKaren GillanJames LaffertyRory CochraneDan YeagerMarilyn BurnsTania RaymondeMatt CrossDanny SapaniZach BraffAgata BuzekVicky McClureLee Asquith-CoeBenedict WongTony ShalhoubFrances FisherLance ReddickMegan CharpentierIsabelle NÃ©lisseDaniel KashAnn HaradaBen LevinDan LevyDavid BannerMichael Rainey Jr.LaJessie SmithCommonCharlie SaxtonJustin ChonSarah WrightJonathan KeltzPenelope WiltonDavid LyonsMike PniewskiIsrael BroussardTaissa FarmigaKatie ChangClaire JulienNikki ReedLydia HullSally HawkinsSylvia HoeksMaximilian DirrTye SheridanJacob LoflandMichael MacKenzieCharlie RoweAngourie RiceJodi Lyn O'KeefeChadwick BosemanT.R. KnightNicole BeharieChristopher MeloniTao OkamotoRila FukushimaSvetlana KhodchenkovaGeorge TakeiBob OdenkirkAshley TisdaleErica AshTiger Hu ChenJeremy MarinasSteven DaszKaren MokChristina MilianMargo MartindaleRichard CabralCarlos PrattsEddie J. FernandezJorge DiazDavid Fernandez Jr.James WoodsJosh HollowayCaity LotzJacob LatimoreMackenzie GrayJames HetfieldLars UlrichKirk HammettJim BelushiAshley BellJulia GarnerAndrew SensenigSpencer Treat ClarkJudd LormandRiaad MoosaFana MokoenaSophie Kennedy ClarkBarbara JeffordNaveen AndrewsCharles EdwardsDouglas HodgePaul FreemanBruce PayneTiya SircarYanina StudilinaPhilippe ReinhardtHeiner LauterbachMaria SmolnikovaStephen FryJulia WinterMos DefJulian McMahonMax BakerCaroline ChikezieChris PotterJustin ChatwinGong LiYouki KudohTsai ChinSuzuka OhgoGarry MarshallDon KnottsJulie Ann EmeryKate NautaAlessandro GassmanJane FondaWanda SykesAndrÃ© BenjaminSimon WoodsMel BrooksPaula AbdulJenna BoydAdriÃ¡n Alonso BaronaJulio Oscar MechosoNick ChinlundWill Yun LeePaul WhitehousePeter SallisNicholas SmithLiz SmithKelly LynchScott MacDonaldDonal LogueDina Spybey-WatersBen ShenkmanCraig BierkoJonathan Rhys MeyersAmy IrvingBen DanielsDeobia OpareiJonathan BennettJimmy FallonJason SpevackJack KehlerMaureen KeillerDanny McCarthyJesper ChristensenYvan AttalRoger Ashton-GriffithsBecca GardnerMichelle HornJessica SimpsonWillie NelsonBurt ReynoldsMathieu KassovitzHanns ZischlerCampbell ScottKenneth WelshCameron BrightAddison TimlinGena RowlandsWendie MalickDavid StrathairnRose AbdooDianne ReevesRobert Ri'chardRick GonzalezHeidi HayesJesse JamesVincent ReganDylan BrownWendy Raquel RobinsonJudith ScottHal WilliamsArmand AssanteKate BeahanMichael IrbyDrea de MatteoJulie DelpySharon StoneGemmenne de la PeÃ±aSimon BakerRobert JoyTyler HiltonAimee GarciaOmar Benson MillerMusetta VanderPortia de RossiMilo VentimigliaKate BurtonMichael IrvinNellyNia LongAleisha AllenPhilip BoldenHeike MakatschArmin RohdeWilfried HochholdingerDeRay DavisJeremy SheffieldMichael MadsenPortia DawsonAllie MickelsonCraig ArchibaldBronwen ColemanKate ShindleDonald SumpterElisha CuthbertParis HiltonBrian Van HoltRobert MammoneJames CarpinelloMark ConsuelosAlicia SilverstoneTaylor DooleyCayden BoydJosh FlitterPeter FirthKuno BeckerGary LewisChandra WestDeborah Kara UngerIan McNeiceKelly PrestonKevin HeffernanLaura JohnsonEugene HutzBoris LeskinJana HrabetovaJonathan Safran FoerKatija PevecDean CollinsElise NealFrank C. TurnerMatthew WalkerEmily DeschanelBarry WatsonTory MussettEddie CibrianAnthony RappJesse L. MartinWilson Jermaine HerediaElle PetersonThomas CurtisKen MedlockAman JohalCicely TysonEva Marie SaintDave MatthewsRebecca De MornayJohn RobinsonTony CurranDerek JacobiMads MikkelsenAudrey TautouJenna DewanDamaine RadcliffDe'Shawn WashingtonMarioEli WallachJake CherryDick Van DykeGael GarcÃ­a BernalLuenellBob BarrDavid HasselhoffHenry WinklerJoey Lauren AdamsGarry ShandlingSimon ChandlerDavid CalderRichard FelixBirgit MinichmayrKagiso KuypersGerard PlunkettRyan MerrimanKris LemcheAlexz JohnsonSam EastonLaura RamseyMark MargolisStephen McHattieLombardo BoyarBurt YoungGeraldine HughesJames Francis Kelly IIIJaneane GarofaloEd SpeleersRobert CarlyleShohreh AghdashlooEbon Moss-BachrachBill PullmanRyan NewmanMitchel MussoSpencer LockeRudy YoungbloodDalia HernÃ¡ndezJonathan BrewerMorris BirdyellowheadRaoul Max TrujilloAaron StanfordKathleen QuinlanDan ByrdSamaire ArmstrongMissi PyleMakenzie VegaTammy BlanchardLuis TosarJesse MetcalfeSophia BushArielle KebbelAshantiJohn Benjamin HickeyFrank WelkerShane BaumelTimyra-Joi BeattyJoseph RuskinAlex RoccoWayne NewtonJoanna 'JoJo' LevesqueMegan DoddsEmily ProcterMark MosesStan CollymoreAustin CrimBrian HoweJames KarenEdie FalcoWilliam ForsytheShawnee SmithBahar SoomekhDina MeyerAna de la RegueraHÃ©ctor JimÃ©nezDarius RoseJacinda BarrettEmmy RossumJane AlexanderAndy DickTim BagleySeamus Davey-FitzpatrickKazunari NinomiyaTsuyoshi IharaRyo KaseNakamura ShidÅ IIMitch BakerSherry MillerSharon OsbourneAdam CampbellSophie MonkAdam HerschmanGary SiniseKenan ThompsonNathan PhillipsRyan DunnSela WardMelissa SagemillerOmari HardwickBrian TeeNathalie KelleyShad MossBarbara FlynnBill PatersonIan SomerhalderJohn Cothran, Jr.Kelly CarlsonAbigail BiancaAnthony Ray ParkerChevy ChaseJake McDormanMarshall BellToby HussPat HealyJenna SternTimothy HuttonMax LewisJ.J. JohnsonPolly AdamsTrish GatesNancy McDonielOpal AlladinSylvia SymsHelen McCroryRitchie CosterLeland OrserScott HazellMac McDonaldPhilip WinchesterTodd BoyceChazz PalminteriKarel RodenSam JaegerEdison ChenVirginia MadsenCarly SchroederKyle GassRonnie James DioMeat LoafChace CrawfordClark GreggHrithik RoshanAbhishek BachchanUday ChopraBipasha BasuKristen ClokeLacey ChabertSarita ChoudhuryCindy CheungL. Scott CaldwellLeon RippyKevin DunnTabuSahira NairJon HederJamel DebbouzeSamy NaceriRoschdy ZemSami BouajilaBernard BlancanJon FosterWendell PiercePeter O'BrienKeke PalmerJ.R. VillarrealGordon Liu Chia-HuiHolly HunterDominique LouisAlan TudykLusia StrusAna GasteyerShuler HensleyRupert EvansEddie DeezenChris CoppolaNona GayeWilliam Lee ScottElden HensonMelora WaltersSophie VavasseurDash MihokJay O. SandersMike ColterJennifer Love HewittStephen TobolowskyEvan ArnoldBai LingJennifer EspositoAidan McArdleJames RemarJulie ChristieRaoul BovaCyril RaffaelliTony D'AmarioDany Verissimo-PetitBibi NaceriRosemary HarrisScott MechlowiczJacob PittsTravis WesterMarc AnthonyColin StintonRoy ScheiderJake WeberChristina CoxShelbie BruceLen CariouJohn Rhys-DaviesEmilio EchevarrÃ­aJason BehrWilliam MapotherKaDee StricklandAitana SÃ¡nchez-GijÃ³nJohn SharianMichael IronsideHannah SpearrittGisele BÃ¼ndchenOmar EppsJane KrakowskiRenÃ©e TaylorG. W. BaileyZuleikha RobinsonOmar SharifAdam Alexi-MalleLouise LombardGeorge W. BushStevie WonderAl GoreFrankie FaisonMaitland WardRussell WongTrey ParkerMatt StoneKristen MillerMasasa MoyoDaran NorrisSandra OhMarylouise BurkeAntony StarrAndrew HamptonFred WilliamsonGlenne HeadlyAlison PillFrank CollisonMaia MorgensternChristo JivkovFrancesco De VitoHarry LennixJonathan JacksonChristopher CousinsCÃ©cile De FranceRobert FyfeAnthony EdwardsJessica HechtChristopher KovaleskiZoie PalmerRobin TunneyDennis FarinaDaniel BaldwinMaÃ¯ Anh LeOanh NguyenJaran 'See Tao' PetcharoenStÃ©phanie LagardeMonet MazurSean McCannPatricia VelÃ¡squezJay ChandrasekharPaul SoterErik StolhanskeTanja ReichertKevin ChamberlinSara FosterDondre WhitfieldStephen SpinellaAlec MapaTia TexadaEd O'NeillVanessa WilliamsSteve HarveyShari HeadleyKevin SussmanLou RomanoPeter SohnSalli Richardson-WhitfieldWillow SmithJeffrey DeMunnCharlie CoxBrian H. DierkerKate ButlerBrenda BlethynDillon FreasierKevin J. O'ConnorLymari NadalCameron RichardsonJerry SeinfeldLaurie MetcalfNicole SullivanRachel CoveyMakoDan CastellanetaJulie KavnerNancy CartwrightYeardley SmithMax BaldryEmma de CaunesMarg HelgenbergerMark Boone JuniorAmy BrennemanPeter FondaLena OlinCharlie HewsonJohn LoneTory KittlesCourtney Taylor BurnessShyann McClureLyriq BentGreg BrykSinÃ©ad CusackJenny WadeJerry StillerJasmine Jessica AnthonyMadison PettisZoÃ« BellVanessa FerlitoSydney Tamiia PoitierDylan MoranHarish PatelBeverly ToddRob MorrowBijou PhillipsRichard BurgiZachary KnightonKyle DavisDaeg FaerchBrady CorbetDevon GearhartLaurence FoxJackson BondAleksa PalladinoTamala JonesPaul RaeRichard GantRichard PortnowGary DourdanLester SpeightOmar MetwallyMoa KhouasZineb OukachEllia EnglishLonny RossFaune A. ChambersMeg RyanJoBeth WilliamsOlympia DukakisNicholas ArtMargarita LevievaAlex VeadovKhalid AbdallaAtossa LeoniZekeria EbrahimiAhmad Khan MahmoodzadaScott G. AndersonFrank WhaleyMatt LongJeremy HowardDanny StrongDaniel GilliesPruitt Taylor VinceChrysta OlsonStacey DashAlexander Nathan EtelPriyanka XiJordan GarrettBill ClintonHillary ClintonRussell MeansJay TavareJohn AshtonRaymond J. BarrySarah DubrovskySaffron BurrowsUnax UgaldeCatalina Sandino MorenoCharlotte GainsbourgConstantino RomeroBlake WoodruffJulian ChristopherNorah JonesCat PowerNe-YoJermaine WilliamsRyan CartwrightMischa BartonJay VilliersSimone SpinazzeRyan KwantenBob GuntonLaura ReganGina TorresGaspard UllielAaran ThomasMichael Jai WhiteHanyu ZhangRen QuanWang BaoqiangDeng ChaoYuan WenkangLouis Gossett, Jr.Tasha SmithTracee Ellis RossLennie LoftinBen GarantMary BirdsongOliver ReedRuss FegaTaylor MomsenBill IrwinPaul SanchezLari WhitePaul AdelsteinDave SheridanJon AbrahamsEartha KittLauren HollyMark FeuersteinOssie DavisMax CasellaJohn ForsytheJane HorrocksJoely RichardsonTyra BanksJon Bon JoviJean HeywoodJamie DravenRhiana GriffithLewis Fitz-GeraldEdward James OlmosAndre BraugherKim DickensJascha WashingtonSamantha MathisBjÃ¶rkJoel GreyPaulo CostanzoRyan HurstJoel GretschTomÃ¡s MiliÃ¡nRussell G. JonesKristy SwansonSaul RubinekSarah WynterJoshua JacksonHill HarperJohn Patrick AmedoriRosanna ArquetteHuntley RitterIben HjejleLisa BonetMarianne Jean-BaptisteCatherine SutherlandJohnny StrongStephen BaldwinKristen JohnstonJoan CollinsSteven CulpShawn DriscollGuillaume CanetVirginie LedoyenStaffan KihlbomScott FoleyJustin PierceJustine WaddellDiana ScarwidAnna PaquinAlice EvansTim McInnernyGÃ©rard DepardieuJohn AlesAnne BancroftLou Diamond PhillipsMaury ChaykinAnne ArcherLily TomlinChristopher LambertAdrian PaulDonnie YenLisa BarbusciaChris Warren, Jr.Billie WhitelawJustin WhalinZoe McLellanKaryn ParsonsBilly Dee WilliamsJill TalleyBill GoldbergCarroll O'ConnorRobert LoggiaRichard E. GrantJim CarterPamela GidleyWalter MatthauAdam ArkinSusan WardLori HeuringMatthew SettleNathan BextonTess Harper 0

In [39]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [40]:
actor = []
def unic_genres(string):
    arr = string.split('|')
    for i in arr:
        if i not in actor:
            actor.append(i)
data['cast'].apply(unic_genres)
temp_count = 0
genres_max = ''
for i in actor:
    temp = data[(data['cast'].str.contains(i) != False) &(data['budget'] > data['budget'].mean())]['balance'].count()
    if temp > temp_count:
        temp_count = temp
        genres_max = i
    elif temp == temp_count:
        genres_max = genres_max + i 
        temp_count = temp
print(genres_max, temp_count)

Matt Damon 18

In [41]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [42]:
genres = []
def unic_genres(string):
    arr = string.split('|')
    for i in arr:
        if i not in genres:
            genres.append(i)
data['genres'].apply(unic_genres)
genres_max = ''
temp_count = 0
for i in genres:
    temp = data[(data['genres'].str.contains(i) != False) & (data['cast'].str.contains('Nicolas Cage') != False)]['genres'].count()
    if temp > temp_count:
        temp_count = temp
        genres_max = i
    elif temp == temp_count:
        genres_max = genres_max + i 
        temp_count = temp
print(genres_max, temp_count)

Action 17

In [43]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [44]:
studios = []
def unic_genres(string, arr_for_res):
    arr = string.split('|')
    for i in arr:
        if i not in arr_for_res:
            arr_for_res.append(i)
data['production_companies'].apply(unic_genres, arr_for_res=studios)
genres_max = ''
temp_count = 0
for i in studios:
    temp = data[(data['production_companies'].str.contains(i) != False)]['production_companies'].count()
    if temp > temp_count:
        temp_count = temp
        genres_max = i
    elif temp == temp_count:
        genres_max = genres_max + i 
        temp_count = temp
print(genres_max, temp_count)

Universal 185

In [45]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [46]:
studios = []
def unic_genres(string, arr_for_res):
    arr = string.split('|')
    for i in arr:
        if i not in arr_for_res:
            arr_for_res.append(i)
data['production_companies'].apply(unic_genres, arr_for_res=studios)
genres_max = ''
temp_count = 0
for i in studios:
    temp = data[(data['production_companies'].str.contains(i) != False) & (data['release_year'] == '2015')]['production_companies'].count()
    if temp > temp_count:
        temp_count = temp
        genres_max = i
print(genres_max, temp_count)

0

In [47]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [48]:
studios = []
def unic_genres(string, arr_for_res):
    arr = string.split('|')
    for i in arr:
        if i not in arr_for_res:
            arr_for_res.append(i)
data['production_companies'].apply(unic_genres, arr_for_res=studios)
genres_max = ''
temp_count = 0
for i in studios:
    temp = data[(data['production_companies'].str.contains(i) != False) & (data['genres'].str.contains('Comedy')  != False)]['production_companies'].count()
    if temp > temp_count:
        temp_count = temp
        genres_max = i
print(genres_max, temp_count)

Columbia Pictures 82

In [49]:
answer_ls.append(3)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [50]:
studios = []
def unic_genres(string, arr_for_res):
    arr = string.split('|')
    for i in arr:
        if i not in arr_for_res:
            arr_for_res.append(i)
data['production_companies'].apply(unic_genres, arr_for_res=studios)
genres_max = ''
temp_count = 0
for i in studios:
    temp = data[(data['production_companies'].str.contains(i) != False) & (data['release_year'] == '2012')]['balance'].sum()
    if temp > temp_count:
        temp_count = temp
        genres_max = i
print(genres_max, temp_count)

0

In [51]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [52]:
temp = data[(data['production_companies'].str.contains('Paramount Pictures') != False)]
temp[temp['balance'] == temp['balance'].min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,balance,release_month
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034,7

In [53]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [54]:
year = data.pivot_table(
values='balance',
index='release_year',
columns=None,
aggfunc='sum')
year[year['balance'] == year['balance'].max()]

                  balance
release_year
2015          18668572378

In [55]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [56]:
temp = data[(data['production_companies'].str.contains('Warner Bros') != False)]
group = temp.groupby(['release_year']).sum()
group.sort_values(by='balance')

,popularity,budget,revenue,runtime,vote_count,vote_average,balance
release_year,,,,,,,
2000,7.641420,572900000,1025531386,1333,2163,68.0,452631386
2006,14.476679,901000000,1521170743,1504,7291,81.0,620170743
2015,30.133961,820800003,1691168351,1358,11574,75.9,870368348
2002,15.070224,680000000,1702709901,1281,5851,70.6,1022709901
2012,12.593044,611500000,1869520056,579,11729,30.0,1258020056
2001,21.133885,923000000,2266545668,1571,10494,83.6,1343545668
2005,22.482668,861000000,2412980298,1193,13203,63.0,1551980298
2004,21.125522,1100000000,2731933725,1624,10964,78.7,1631933725
2013,22.296746,963500000,2599953400,1100,19352,59.9,1636453400
2009,24.294407,915500000,2737954136,1305,16473,67.9,1822454136
2003,17.562360,890000000,2745493377,1085,8516,56.7,1855493377
2011,23.499629,974000000,2845393682,1248,15559,68.3,1871393682
2010,26.441327,1034000000,3008712985,1421,20286,79.6,1974712985
2008,23.986384,916000000,3050595031,1366,17455,72.0,2134595031
2007,22.396365,982000000,3183675217,1721,15760,95.4,2201675217
2014,63.903623,947600000,3243064519,1576,24855,88.9,2295464519

In [57]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [58]:
data.groupby('release_month').count()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,balance
release_month,,,,,,,,,,,,,,,,,
1,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110
10,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186
11,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146
12,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191
2,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135
3,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156
4,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149
5,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140
6,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147
7,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142
8,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161
9,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227

In [59]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [60]:
group = data.groupby('release_month').count()
group.loc['6']['imdb_id'] + group.loc['7']['imdb_id'] + group.loc['8']['imdb_id']

450

In [61]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [62]:
director = []
def unic_genres(string):
    arr = string.split('|')
    for i in arr:
        if i not in director:
            director.append(i)
data['director'].apply(unic_genres)
temp_count = 0
temp_data = data.query('release_month in ["12","1","2"]')

for i in director:
    temp = temp_data[(temp_data['director'].str.contains(i) != False)]['balance'].count()
    if temp > temp_count:
        temp_count = temp
        genres_max = i
    elif temp == temp_count:
        genres_max = genres_max + i 
        temp_count = temp
print(genres_max, temp_count)

Peter Jackson 7

In [63]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [64]:
temp = data.groupby('release_month').sum()
temp['balance'].sort_values()

release_month
1      5396885454
2      8854574425
8      9640610446
9     10878921041
4     12876005537
10    12994907859
3     13720216540
7     18307895020
11    18654155473
5     25039516141
12    26563071474
6     27551262500
Name: balance, dtype: int64

In [65]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [66]:
studios = []
def unic_genres(string, arr_for_res):
    arr = string.split('|')
    for i in arr:
        if i not in arr_for_res:
            arr_for_res.append(i)
data['production_companies'].apply(unic_genres, arr_for_res=studios)
genres_max = ''
temp_count = 0
arr = []
data['len_title'] = data['original_title'].apply(lambda x: len(x))
for i in studios:
    temp = data[(data['production_companies'].str.contains(i) != False)]['len_title'].mean()
    if pd.isna(temp):
        continue
    arr.append([i, temp])
a = pd.DataFrame(arr, columns=['name', 'count'])
a.sort_values(by='count')

                            name  count
932           Ixtlan Productions    2.0
934   Global Entertainment Group    2.0
1263             XM2 Productions    2.0
1339       Everest Entertainment    3.0
153         Berlanti Productions    3.0
...                          ...    ...
535                 Polsky Films   46.0
441    Museum Canada Productions   46.0
1181               Dos Corazones   47.0
382      Jim Henson Company, The   59.0
1465     Four By Two Productions   83.0

[1728 rows x 2 columns]

In [67]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [68]:
studios = []
def unic_genres(string, arr_for_res):
    arr = string.split('|')
    for i in arr:
        if i not in arr_for_res:
            arr_for_res.append(i)
data['production_companies'].apply(unic_genres, arr_for_res=studios)
genres_max = ''
temp_count = 0
arr = []
data['len_title'] = data['original_title'].apply(lambda x: len(x.split()))
for i in studios:
    temp = data[(data['production_companies'].str.contains(i) != False)]['len_title'].mean()
    if pd.isna(temp):
        continue
    arr.append([i, temp])
a = pd.DataFrame(arr, columns=['name', 'count'])
a.sort_values(by='count')

                         name  count
334                 Jolie Pas    1.0
1327         Pinewood Studios    1.0
1328        Metrol Technology    1.0
893            Toff Guy Films    1.0
892             Rifkin-Eberts    1.0
...                       ...    ...
535              Polsky Films    9.0
704   The Saul Zaentz Company    9.0
1181            Dos Corazones    9.0
382   Jim Henson Company, The   10.0
1465  Four By Two Productions   12.0

[1728 rows x 2 columns]

In [69]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [70]:
words = []
def unic_genres(string, arr_for_res):
    arr = string.split()
    for i in arr:
        if i.lower() not in arr_for_res:
            arr_for_res.append(i.lower())
data['original_title'].apply(unic_genres, arr_for_res=words)
len(words)

2461

In [71]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [72]:
data['vote_average'].value_counts(bins=25)
data[data['vote_average'] >= 7.908]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,balance,release_month,len_title
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015,678708609,6,2
34,tt3170832,3.557846,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,1520,8.0,2015,29401758,10,1
118,tt0816692,24.949134,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,6498,8.0,2014,456752480,11,1
125,tt2084970,8.110711,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,3478,8.0,2014,219555708,11,3
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825,7,3

In [73]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [74]:
vars = [
    ['Johnny Depp','Helena Bonham Carter'],
    ['Hugh Jackman','Ian McKellen',],
    ['Vin Diesel','Paul Walker'],
    ['Adam Sandler','Kevin James',],
    ['Daniel Radcliffe', 'Rupert Grint']
]
res_temp = [0, '']
for i in vars:
    act1 = data[data['cast'].str.contains(i[0])]
    act2 = data[data['cast'].str.contains(i[1])]
    res = act1.merge(act2, on='imdb_id', how='inner')
    a = res['imdb_id'].count()
    if a >  res_temp[0]:
        res_temp = [a, i]
res_temp

[8, ['Daniel Radcliffe', 'Rupert Grint']]

In [75]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [76]:
director = []
def unic_genres(string):
    arr = string.split('|')
    for i in arr:
        if i not in director:
            director.append(i)
data['director'].apply(unic_genres)
temp_count = 0
arr = []
for i in director:
    
    temp = data[(data['director'].str.contains(i) != False)]
    allFilms = temp['imdb_id'].count()
    good = temp[temp['balance'] > 0]['imdb_id'].count()
    arr.append([i, allFilms, good, good /allFilms ])
res = pd.DataFrame(arr, columns=['name', 'all', 'good', 'coef'])
res.query('name in  ["Quentin Tarantino","Steven Soderbergh","Robert Rodriguez","Christopher Nolan","Clint Eastwood"]')

                  name  all  good      coef
17   Quentin Tarantino    7     6  0.857143
122  Christopher Nolan    8     8  1.000000
148     Clint Eastwood   12    10  0.833333
190   Robert Rodriguez   11     8  0.727273
289  Steven Soderbergh   13    10  0.769231

In [77]:
answer_ls.append(4)

# Submission

In [78]:
len(answer_ls)

36

In [79]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       1
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       3
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4